<div class="container">
  <div class="row">
    <div class="col">
 <!-- ユーザーの詳細 -->
 <%= render 'list', user: @user %>
 
 <!-- 新規投稿フォーム -->
 <br><h3>New book</h3>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors occurrd.
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book do |f| %>
   
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %><br>
    <%= f.submit 'Create Book',class: "btn btn-secondary" %>
    <br>
  <% end %>
</div>
  
<div class="col">
<br><h3>Users</h3>

<table class="table table-striped"> 
<thead>
  <tr>
    <th scope="row">image</th>
    <th scope="row">name</th>
    <th scope="row"></th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  <tr>
  <td><%= image_tag user.get_profile_image(100,100) %></td>
  <td><%= user.name %></td>
  <td><%= link_to 'Show',user_path(user.id) %></td>
  </tr>
  <% end %>
  
</tbody>
</table>
  

</div>
</div></div>